---
layout: default
title: Home
---

<div class="dark-wrapper">
    <!-- Landing page Hero -->
    <section class="hero is-fullheight is-transparent">
        <div class="hero-head">

            <!-- Cloned navbar -->
            {% include navbar-clone.html %}

            <!-- Static navbar -->
            {% include navbar.html %}

        </div>

        <!-- Animated particles -->
        <div id="particles-js"></div>

        <!-- Hero Image and Title -->
        <div class="hero-body">
            <div class="container">
                <div class="columns is-vcentered is-centered">
                    <!-- Landing page Title -->
                    <div class="column is-5 landing-caption">
                        <h1 class="title is-1 is-light is-semibold is-spaced main-title">HIS School</h1>
                        <h2 class="subtitle is-5 is-light is-thin">
                            A school for the disaventage children in Cambodia.
                            <br>
                            Our websit is in development. Please come again later.
                        </h2>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- /Landing page Hero -->

    {% include sections/contact-us.html %}

</div>
