
    <!-- Icon Features section -->
    <section id="start" class="section is-transparent is-relative">
        <!-- Container -->
        <div class="container">

            <div class="has-text-centered">
                <a class="button k-button k-secondary raised has-gradient is-fat is-bold rounded">
                    <span class="text">Buy Tokens 20% off</span>
                    <span class="front-gradient"></span>
                </a>

                <div class="buy-title">We Accept</div>

                <div class="accepted-currencies">
                    <div>
                        <i class="cf cf-btc"></i>
                    </div>
                    <div>
                        <i class="cf cf-eth"></i>
                    </div>
                    <div>
                        <i class="cf cf-ltc"></i>
                    </div>
                    <div>
                        <i class="cf cf-xem"></i>
                    </div>
                </div>
            </div>

            <!-- Content wrapper -->
            <div class="content-wrapper is-medium">
                <div class="columns is-vcentered">
                    <!-- Feature -->
                    <div class="column is-4">
                        <div class="feature">
                            <img src="assets/images/icons/chained.svg" alt="" data-aos="fade-up" data-aos-delay="100" data-aos-offset="200" data-aos-easing="ease-out-quart">
                            <h4 class="title is-6 is-tight is-light">Chaining</h4>
                            <p>Supercharged features to make you happy and lorem ipsum sit dolor amet</p>
                        </div>
                    </div>
                    <!-- Feature -->
                    <div class="column is-4">
                        <div class="feature">
                            <img src="assets/images/icons/stacked.svg" alt="" data-aos="fade-up" data-aos-delay="300" data-aos-offset="200" data-aos-easing="ease-out-quart">
                            <h4 class="title is-6 is-tight is-light">Stacking</h4>
                            <p>Supercharged features to make you happy and lorem ipsum sit dolor amet</p>
                        </div>
                    </div>
                    <!-- Feature -->
                    <div class="column is-4">
                        <div class="feature">
                            <img src="assets/images/icons/compact.svg" alt="" data-aos="fade-up" data-aos-delay="500" data-aos-offset="200" data-aos-easing="ease-out-quart">
                            <h4 class="title is-6 is-tight is-light">Managing</h4>
                            <p>Supercharged features to make you happy and lorem ipsum sit dolor amet</p>
                        </div>
                    </div>
                </div>

                <!-- Play video button -->
                <div class="cta-wrapper has-text-centered">
                    <div class="video-button levitate js-modal-btn" data-video-id="6WG7D47tGb0">
                        <img src="assets/images/icons/play.svg" alt="">
                    </div>
                </div>
            </div>
            <!-- Content wrapper -->
        </div>
        <!-- /Container -->
    </section>
    <!-- /Icon Features section -->
