
    <!-- Company section -->
    <section class="section is-medium has-big-dark-gradient">
      <!-- Container -->
      <div class="container">
          <!-- Divider -->
          <div class="divider is-centered"></div>
          <!-- Title & subtitle -->
          <h2 class="title is-light is-semibold has-text-centered is-spaced">Our Team</h2>
          <h4 class="subtitle is-6 is-light has-text-centered is-compact">Viderer malorum sadipscing cum ei. Eu impetus perfecto sit, no sea labore detraxit. Primis mediocrem necessitatibus an vis. Ut sea pertinax perpetua, eruditi volumus quaestio ex mel, has ei tota homero.</h4>

          <!-- Content wrapper -->
          <div class="content-wrapper is-large">
              <div class="columns is-vcentered">

                  <div class="column is-hidden-mobile"></div>

                  <!-- Team member -->
                  <div class="column is-3">
                      <div class="team-member-container">
                          <!-- Card -->
                          <div class="dark-card">
                              <!-- Avatar wrapper -->
                              <div class="avatar">
                                  <!-- Svg circle -->
                                  <svg class="circle-chart" viewbox="0 0 33.83098862 33.83098862" width="140" height="140" xmlns="http://www.w3.org/2000/svg">
                                      <!-- Track -->
                                      <circle class="circle-chart-background" stroke-width="1" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
                                      <!-- Stroke -->
                                      <circle class="circle-chart-circle" stroke-width="1" stroke-dasharray="33,100" stroke-linecap="round" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
                                  </svg>
                                  <!-- Sketeched face -->
                                  <img class="is-sketch" src="assets/images/team/john.svg" alt="">
                                  <!-- Real face -->
                                  <img class="is-real" src="assets/images/team/john.jpg" alt="">
                              </div>
                              <!-- Member meta -->
                              <div class="member-info">
                                  <h4 class="title is-light is-6 is-tight">John Cambell</h4>
                                  <div class="position">Founder / Ceo</div>
                                  <p class="description">John is a Crypto enthusiast. He was one of the first bolckchain actors in the world.</p>
                              </div>
                          </div>
                      </div>
                  </div>

                  <!-- Team member -->
                  <div class="column is-3">
                      <div class="team-member-container">
                          <div class="dark-card">
                              <div class="avatar">
                                  <svg class="circle-chart" viewbox="0 0 33.83098862 33.83098862" width="140" height="140" xmlns="http://www.w3.org/2000/svg">
                                      <circle class="circle-chart-background" stroke-width="1" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
                                      <circle class="circle-chart-circle" stroke-width="1" stroke-dasharray="33,100" stroke-linecap="round" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
                                  </svg>
                                  <img class="is-sketch" src="assets/images/team/lucy.svg" alt="">
                                  <img class="is-real" src="assets/images/team/lucy.jpg" alt="">
                              </div>
                              <div class="member-info">
                                  <h4 class="title is-light is-6 is-tight">Lucy Wong</h4>
                                  <div class="position">Founder / Cfo</div>
                                  <p class="description">Lucy is a Crypto enthusiast. He was one of the first bolckchain actors in the world.</p>
                              </div>
                          </div>
                      </div>
                  </div>

                  <!-- Team member -->
                  <div class="column is-3">
                      <div class="team-member-container">
                          <div class="dark-card">
                              <div class="avatar">
                                  <svg class="circle-chart" viewbox="0 0 33.83098862 33.83098862" width="140" height="140" xmlns="http://www.w3.org/2000/svg">
                                      <circle class="circle-chart-background" stroke-width="1" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
                                      <circle class="circle-chart-circle" stroke-width="1" stroke-dasharray="33,100" stroke-linecap="round" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
                                  </svg>
                                  <img class="is-sketch" src="assets/images/team/joshua.svg" alt="">
                                  <img class="is-real" src="assets/images/team/joshua.jpg" alt="">
                              </div>
                              <div class="member-info">
                                  <h4 class="title is-light is-6 is-tight">Joshua Stevens</h4>
                                  <div class="position">Engineer</div>
                                  <p class="description">Joshua is a Crypto enthusiast. He was one of the first bolckchain actors in the world.</p>
                              </div>
                          </div>
                      </div>
                  </div>

                  <div class="column is-hidden-mobile"></div>
              </div>

              <div class="columns is-vcentered">

                  <div class="column is-hidden-mobile"></div>

                  <!-- Team member -->
                  <div class="column is-3">
                      <div class="team-member-container">
                          <div class="dark-card">
                              <div class="avatar">
                                  <svg class="circle-chart" viewbox="0 0 33.83098862 33.83098862" width="140" height="140" xmlns="http://www.w3.org/2000/svg">
                                      <circle class="circle-chart-background" stroke-width="1" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
                                      <circle class="circle-chart-circle" stroke-width="1" stroke-dasharray="33,100" stroke-linecap="round" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
                                  </svg>
                                  <img class="is-sketch" src="assets/images/team/sara.svg" alt="">
                                  <img class="is-real" src="assets/images/team/sara.jpg" alt="">
                              </div>
                              <div class="member-info">
                                  <h4 class="title is-light is-6 is-tight">Sara Jackson</h4>
                                  <div class="position">Founder / Ceo</div>
                                  <p class="description">Sara is a Crypto enthusiast. He was one of the first bolckchain actors in the world.</p>
                              </div>
                          </div>
                      </div>
                  </div>

                  <!-- Team member -->
                  <div class="column is-3">
                      <div class="team-member-container">
                          <div class="dark-card">
                              <div class="avatar">
                                  <svg class="circle-chart" viewbox="0 0 33.83098862 33.83098862" width="140" height="140" xmlns="http://www.w3.org/2000/svg">
                                      <circle class="circle-chart-background" stroke-width="1" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
                                      <circle class="circle-chart-circle" stroke-width="1" stroke-dasharray="33,100" stroke-linecap="round" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
                                  </svg>
                                  <img class="is-sketch" src="assets/images/team/mike.svg" alt="">
                                  <img class="is-real" src="assets/images/team/mike.jpg" alt="">
                              </div>
                              <div class="member-info">
                                  <h4 class="title is-light is-6 is-tight">Mike Kovalsky</h4>
                                  <div class="position">Founder / Ceo</div>
                                  <p class="description">Sara is a Crypto enthusiast. He was one of the first bolckchain actors in the world.</p>
                              </div>
                          </div>
                      </div>
                  </div>

                  <!-- Team member -->
                  <div class="column is-3">
                      <div class="team-member-container">
                          <div class="dark-card">
                              <div class="avatar">
                                  <svg class="circle-chart" viewbox="0 0 33.83098862 33.83098862" width="140" height="140" xmlns="http://www.w3.org/2000/svg">
                                      <circle class="circle-chart-background" stroke-width="1" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
                                      <circle class="circle-chart-circle" stroke-width="1" stroke-dasharray="33,100" stroke-linecap="round" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
                                  </svg>
                                  <img class="is-sketch" src="assets/images/team/sandra.svg" alt="">
                                  <img class="is-real" src="assets/images/team/sandra.jpg" alt="">
                              </div>
                              <div class="member-info">
                                  <h4 class="title is-light is-6 is-tight">Sandra Bernard</h4>
                                  <div class="position">Founder / Ceo</div>
                                  <p class="description">Sandra is a Crypto enthusiast. He was one of the first bolckchain actors in the world.</p>
                              </div>
                          </div>
                      </div>
                  </div>

                  <div class="column is-hidden-mobile"></div>

              </div>

              <!-- Spaced divider -->
              <div class="divider is-centered is-spacer"></div>
              <!-- Title & subtitle -->
              <h2 class="title is-light is-semibold has-text-centered is-spaced">Advisors</h2>
              <h4 class="subtitle is-6 is-light has-text-centered is-compact">Viderer malorum sadipscing cum ei. Eu impetus perfecto sit, no sea labore detraxit. Primis mediocrem necessitatibus an vis. Ut sea pertinax perpetua, eruditi volumus quaestio ex mel, has ei tota homero.</h4>

              <!-- Content wrapper -->
              <div class="content-wrapper is-large">
                  <div class="columns is-vcentered is-multiline">

                      <!-- Advisor -->
                      <div class="column is-one-fifth">
                          <div class="advisor-container has-text-centered">
                              <!-- Picture -->
                              <div class="photo">
                                  <img src="assets/images/team/a1.jpg" alt="" data-aos="fade-down" data-aos-delay="100" data-aos-offset="200" data-aos-easing="ease-out-quart">
                              </div>
                              <!-- Meta -->
                              <div class="info">
                                  <div class="subtitle is-6 is-light is-compressed">Rafael Agostino</div>
                                  <div class="position">Board Member</div>
                              </div>
                          </div>
                      </div>

                      <!-- Advisor -->
                      <div class="column is-one-fifth">
                          <div class="advisor-container has-text-centered">
                              <div class="photo">
                                  <img src="assets/images/team/a2.jpg" alt="" data-aos="fade-down" data-aos-delay="300" data-aos-offset="200" data-aos-easing="ease-out-quart">
                              </div>
                              <div class="info">
                                  <div class="subtitle is-6 is-light is-compressed">Marysa Vosniak</div>
                                  <div class="position">Board Member</div>
                              </div>
                          </div>
                      </div>

                      <!-- Advisor -->
                      <div class="column is-one-fifth">
                          <div class="advisor-container has-text-centered">
                              <div class="photo">
                                  <img src="assets/images/team/a3.jpg" alt="" data-aos="fade-down" data-aos-delay="500" data-aos-offset="200" data-aos-easing="ease-out-quart">
                              </div>
                              <div class="info">
                                  <div class="subtitle is-6 is-light is-compressed">Glenn Mitchells</div>
                                  <div class="position">Board Member</div>
                              </div>
                          </div>
                      </div>

                      <!-- Advisor -->
                      <div class="column is-one-fifth">
                          <div class="advisor-container has-text-centered">
                              <div class="photo">
                                  <img src="assets/images/team/a4.jpg" alt="" data-aos="fade-down" data-aos-delay="700" data-aos-offset="200" data-aos-easing="ease-out-quart">
                              </div>
                              <div class="info">
                                  <div class="subtitle is-6 is-light is-compressed">Gary Simmons</div>
                                  <div class="position">Crypto Finance Analyst</div>
                              </div>
                          </div>
                      </div>

                      <!-- Advisor -->
                      <div class="column is-one-fifth">
                          <div class="advisor-container has-text-centered">
                              <div class="photo">
                                  <img src="assets/images/team/a5.jpg" alt="" data-aos="fade-down" data-aos-delay="900" data-aos-offset="200" data-aos-easing="ease-out-quart">
                              </div>
                              <div class="info">
                                  <div class="subtitle is-6 is-light is-compressed">Olga Broniszewska</div>
                                  <div class="position">Crypto Finance Analyst</div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- /Content wrapper -->

              <!-- Spaced divider -->
              <div class="divider is-centered is-spacer"></div>
              <!-- Title & subtitle -->
              <h2 class="title is-light is-semibold has-text-centered is-spaced">FAQ</h2>
              <h4 class="subtitle is-6 is-light has-text-centered is-compact">Viderer malorum sadipscing cum ei. Eu impetus perfecto sit, no sea labore detraxit. Primis mediocrem necessitatibus an vis. Ut sea pertinax perpetua, eruditi volumus quaestio ex mel, has ei tota homero.</h4>

              <!-- Content wrapper -->
              <div class="content-wrapper is-large">
                  <div class="columns">
                      <div class="column is-5 is-offset-1">

                          <!-- Accordion -->
                          <div class="accordion">
                              <!-- Option -->
                              <div class="accordion-option">
                                  <input type="checkbox" id="toggle1" class="accordion-toggle" />
                                  <label class="accordion-title" for="toggle1">
                                      What is Blockchain ?
                                  </label>
                                  <div class="accordion-content">
                                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                                  </div>
                              </div>

                              <!-- Option -->
                              <div class="accordion-option">
                                  <input type="checkbox" id="toggle2" class="accordion-toggle" />
                                  <label class="accordion-title" for="toggle2">
                                      What is ICO ?
                                  </label>
                                  <div class="accordion-content">
                                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                                  </div>
                              </div>

                              <!-- Option -->
                              <div class="accordion-option">
                                  <input type="checkbox" id="toggle3" class="accordion-toggle" />
                                  <label class="accordion-title" for="toggle3">
                                      Where to get the Whitepaper ?
                                  </label>
                                  <div class="accordion-content">
                                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                                  </div>
                              </div>

                              <!-- Option -->
                              <div class="accordion-option">
                                  <input type="checkbox" id="toggle4" class="accordion-toggle" />
                                  <label class="accordion-title" for="toggle4">
                                      What is Krypton Core Innovation ?
                                  </label>
                                  <div class="accordion-content">
                                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                                  </div>
                              </div>

                              <!-- Option -->
                              <div class="accordion-option">
                                  <input type="checkbox" id="toggle5" class="accordion-toggle" />
                                  <label class="accordion-title" for="toggle5">
                                      When will be the platform released ?
                                  </label>
                                  <div class="accordion-content">
                                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                                  </div>
                              </div>
                          </div>
                          <!-- /Accordion -->
                      </div>


                      <div class="column is-5">

                          <!-- Accordion -->
                          <div class="accordion">
                              <!-- Option -->
                              <div class="accordion-option">
                                  <input type="checkbox" id="toggle6" class="accordion-toggle" />
                                  <label class="accordion-title" for="toggle6">
                                      How much tokens will be sold ?
                                  </label>
                                  <div class="accordion-content">
                                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                                  </div>
                              </div>

                              <!-- Option -->
                              <div class="accordion-option">
                                  <input type="checkbox" id="toggle7" class="accordion-toggle" />
                                  <label class="accordion-title" for="toggle7">
                                      What happens if Soft Cap isn't reached ?
                                  </label>
                                  <div class="accordion-content">
                                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                                  </div>
                              </div>

                              <!-- Option -->
                              <div class="accordion-option">
                                  <input type="checkbox" id="toggle8" class="accordion-toggle" />
                                  <label class="accordion-title" for="toggle8">
                                      How much do you want to raise with the ICO ?
                                  </label>
                                  <div class="accordion-content">
                                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                                  </div>
                              </div>

                              <!-- Option -->
                              <div class="accordion-option">
                                  <input type="checkbox" id="toggle9" class="accordion-toggle" />
                                  <label class="accordion-title" for="toggle9">
                                      When will the tokens be distributed ?
                                  </label>
                                  <div class="accordion-content">
                                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                                  </div>
                              </div>

                              <!-- Option -->
                              <div class="accordion-option">
                                  <input type="checkbox" id="toggle10" class="accordion-toggle" />
                                  <label class="accordion-title" for="toggle10">
                                      Will their be Bounties ?
                                  </label>
                                  <div class="accordion-content">
                                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                                  </div>
                              </div>
                          </div>
                          <!-- /Accordion -->
                      </div>
                  </div>
              </div>
              <!-- /Content wrapper -->

              <!-- Spaced divider -->
              <div class="divider is-centered is-spacer"></div>
              <!-- Title & subtitle -->
              <h2 class="title is-light is-semibold has-text-centered is-spaced">Media & Partners</h2>
              <h4 class="subtitle is-6 is-light has-text-centered is-compact">Viderer malorum sadipscing cum ei. Eu impetus perfecto sit, no sea labore detraxit. Primis mediocrem necessitatibus an vis. Ut sea pertinax perpetua, eruditi volumus quaestio ex mel, has ei tota homero.</h4>

              <!-- Content wrapper -->
              <div class="content-wrapper is-large">
                  <div class="columns">
                      <!-- Media section -->
                      <div class="column is-10 is-offset-1">

                          <!-- Post -->
                          <div class="blog-post">
                              <a href="#">
                                  <!-- Featured image -->
                                  <div class="featured-image">
                                      <img src="assets/images/media/post1.svg" alt="">
                                  </div>
                                  <!-- Content -->
                                  <div class="content">
                                      <div class="post-title">Blockchain for dummies  <span class="blog-date">27.05.2018</span></div>
                                      <p>
                                          Lorem Ipsum, dizgi ve baskı endüstrisinde kullanılan mıgır metinlerdir. Lorem Ipsum, adı
                                          bilinmeyen bir matbaacının bir hurufat numune kitabı...
                                      </p>
                                      <!-- Meta -->
                                      <div class="post-meta">
                                          <div class="author-block">
                                              <div class="image is-32x32">
                                                  <img src="assets/images/team/john.jpg" alt="">
                                              </div>
                                              <div class="author-name">by John Cambell</div>
                                          </div>
                                          <div class="stats-block">
                                              <div class="comments">
                                                  <i data-feather="message-circle"></i>
                                                  <span>3</span>
                                              </div>
                                              <div class="likes">
                                                  <i data-feather="heart"></i>
                                                  <span>9</span>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </a>
                          </div>

                          <!-- Post -->
                          <div class="blog-post">
                              <a href="#">
                                  <!-- Featured image -->
                                  <div class="featured-image">
                                      <img src="assets/images/media/post2.svg" alt="">
                                  </div>
                                  <!-- Content -->
                                  <div class="content">
                                      <div class="post-title">The Krypton chain algorythm  <span class="blog-date">15.04.2018</span></div>
                                      <p>
                                          Lorem Ipsum, dizgi ve baskı endüstrisinde kullanılan mıgır metinlerdir. Lorem Ipsum, adı
                                          bilinmeyen bir matbaacının bir hurufat numune kitabı...
                                      </p>
                                      <!-- Meta -->
                                      <div class="post-meta">
                                          <div class="author-block">
                                              <div class="image is-32x32">
                                                  <img src="assets/images/team/joshua.jpg" alt="">
                                              </div>
                                              <div class="author-name">by Joshua Stevens</div>
                                          </div>
                                          <div class="stats-block">
                                              <div class="comments">
                                                  <i data-feather="message-circle"></i>
                                                  <span>7</span>
                                              </div>
                                              <div class="likes">
                                                  <i data-feather="heart"></i>
                                                  <span>29</span>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </a>
                          </div>

                          <!-- Post -->
                          <div class="blog-post">
                              <a href="#">
                                  <!-- Featured image -->
                                  <div class="featured-image">
                                      <img src="assets/images/media/post3.svg" alt="">
                                  </div>
                                  <!-- Content -->
                                  <div class="content">
                                      <!--div class="rounded"></div-->
                                      <div class="post-title">What is Crypto mining ?  <span class="blog-date">02.04.2018</span></div>
                                      <p>
                                          Lorem Ipsum, dizgi ve baskı endüstrisinde kullanılan mıgır metinlerdir. Lorem Ipsum, adı
                                          bilinmeyen bir matbaacının bir hurufat numune kitabı...
                                      </p>
                                      <!-- Meta -->
                                      <div class="post-meta">
                                          <div class="author-block">
                                              <div class="image is-32x32">
                                                  <img src="assets/images/team/sandra.jpg" alt="">
                                              </div>
                                              <div class="author-name">by Sandra Bernard</div>
                                          </div>
                                          <div class="stats-block">
                                              <div class="comments">
                                                  <i data-feather="message-circle"></i>
                                                  <span>31</span>
                                              </div>
                                              <div class="likes">
                                                  <i data-feather="heart"></i>
                                                  <span>48</span>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </a>
                          </div>
                      </div>
                      <!-- /Media section -->
                  </div>

                  <!-- CTA -->
                  <div class="cta-wrapper has-text-centered">
                      <a href="#" class="button k-button k-primary raised has-gradient is-fat is-bold">
                          <span class="text">More Articles</span>
                          <span class="front-gradient"></span>
                      </a>
                  </div>

                  <!-- Partner logos -->
                  <div class="partners">
                      <!-- Partner -->
                      <div class="partner-item">
                          <img src="assets/images/clients/cryptomarket.svg" alt="">
                      </div>
                      <!-- Partner -->
                      <div class="partner-item">
                          <img src="assets/images/clients/bitit.svg" alt="">
                      </div>
                      <!-- Partner -->
                      <div class="partner-item">
                          <img src="assets/images/clients/coin.svg" alt="">
                      </div>
                  </div>
              </div>
              <!-- /Content wrapper -->

          </div>
          <!-- /Content wrapper -->
      </div>
  </section>
  <!-- /Company section -->
