    <!-- Roadmap section -->
    <section class="section is-medium is-dark">
      <!-- Container -->
      <div class="container">
          <!-- Divider -->
          <div class="divider is-centered"></div>
          <!-- Title & subtitle -->
          <h2 class="title is-light is-semibold has-text-centered is-spaced">Our 2018 Roadmap</h2>
          <h4 class="subtitle is-6 is-light has-text-centered is-compact">Viderer malorum sadipscing cum ei. Eu impetus perfecto sit, no sea labore detraxit. Primis mediocrem necessitatibus an vis. Ut sea pertinax perpetua, eruditi volumus quaestio ex mel, has ei tota homero.</h4>

          <!-- Content wrapper -->
          <div class="content-wrapper">
              <!-- Timeline -->
              <div class="krypton-timeline">
                  <div class="timeline">
                      <!-- Events wrapper -->
                      <div class="events-wrapper">
                          <!-- Events list -->
                          <div class="events">
                              <ol>
                                  <!-- Event -->
                                  <li>
                                      <a href="#0" data-date="16/01/2018" class="selected">
                                          <span>JAN</span>
                                          <span>16</span>
                                      </a>
                                  </li>
                                  <!-- Event -->
                                  <li>
                                      <a href="#0" data-date="28/02/2018">
                                          <span>FEB</span>
                                          <span>28</span>
                                      </a>
                                  </li>
                                  <!-- Event -->
                                  <li>
                                      <a href="#0" data-date="20/03/2018">
                                          <span>MAR</span>
                                          <span>20</span>
                                      </a>
                                  </li>
                                  <!-- Event -->
                                  <li>
                                      <a href="#0" data-date="20/04/2018">
                                          <span>APR</span>
                                          <span>20</span>
                                      </a>
                                  </li>
                                  <!-- Event -->
                                  <li>
                                      <a href="#0" data-date="09/05/2018">
                                          <span>MAY</span>
                                          <span>9</span>
                                      </a>
                                  </li>
                                  <!-- Event -->
                                  <li>
                                      <a href="#0" data-date="30/06/2018">
                                          <span>JUN</span>
                                          <span>30</span>
                                      </a>
                                  </li>
                                  <!-- Event -->
                                  <li>
                                      <a href="#0" data-date="25/07/2018">
                                          <span>JUL</span>
                                          <span>25</span>
                                      </a>
                                  </li>
                                  <!-- Event -->
                                  <li>
                                      <a href="#0" data-date="12/08/2018">
                                          <span>AUG</span>
                                          <span>12</span>
                                      </a>
                                  </li>
                                  <!-- Event -->
                                  <li>
                                      <a href="#0" data-date="10/09/2018">
                                          <span>SEP</span>
                                          <span>10</span>
                                      </a>
                                  </li>
                                  <!-- Event -->
                                  <li>
                                      <a href="#0" data-date="15/10/2018">
                                          <span>OCT</span>
                                          <span>15</span>
                                      </a>
                                  </li>
                                  <!-- Event -->
                                  <li>
                                      <a href="#0" data-date="25/11/2018">
                                          <span>NOV</span>
                                          <span>25</span>
                                      </a>
                                  </li>
                              </ol>

                              <!-- Track line -->
                              <span class="filling-line" aria-hidden="true"></span>
                          </div>
                          <!-- Events list -->
                      </div>
                      <!-- Events wrapper -->

                      <ul class="timeline-navigation">
                          <li><a href="#0" class="prev inactive">Prev</a></li>
                          <li><a href="#0" class="next">Next</a></li>
                      </ul> <!-- .cd-timeline-navigation -->
                  </div> <!-- .timeline -->

                  <!-- Main events content -->
                  <div class="events-content">
                      <ol>
                          <!-- Event -->
                          <li class="selected" data-date="16/01/2018">
                              <!-- Inner -->
                              <div class="inner-wrapper">
                                  <div class="title-wrapper">
                                      <!-- Icon -->
                                      <img src="assets/images/icons/ico/platform-launch.svg" alt="">
                                      <!-- Title & date -->
                                      <div>
                                          <span class="event-title">Platform Launch</span>
                                          <small>January 16th, 2018</small>
                                      </div>
                                  </div>
                                  <p>
                                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
                                  </p>
                              </div>
                          </li>

                          <!-- Event -->
                          <li data-date="28/02/2018">
                              <div class="inner-wrapper">
                                  <div class="title-wrapper">
                                      <img src="assets/images/icons/ico/presale.svg" alt="">
                                      <div>
                                          <span class="event-title">Presale starts</span>
                                          <small>February 28th, 2018</small>
                                      </div>
                                  </div>
                                  <p>
                                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
                                  </p>
                              </div>
                          </li>

                          <!-- Event -->
                          <li data-date="20/03/2018">
                              <div class="inner-wrapper">
                                  <div class="title-wrapper">
                                      <img src="assets/images/icons/ico/ico.svg" alt="">
                                      <div>
                                          <span class="event-title">ICO starts</span>
                                          <small>February 28th, 2018</small>
                                      </div>
                                  </div>
                                  <p>
                                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
                                  </p>
                              </div>
                          </li>

                          <!-- Event -->
                          <li data-date="20/04/2018">
                              <div class="inner-wrapper">
                                  <div class="title-wrapper">
                                      <img src="assets/images/icons/ico/ico-2.svg" alt="">
                                      <div>
                                          <span class="event-title">ICO Phase 2</span>
                                          <small>April 20th, 2018</small>
                                      </div>
                                  </div>
                                  <p>
                                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
                                  </p>
                              </div>
                          </li>

                          <!-- Event -->
                          <li data-date="09/05/2018">
                              <div class="inner-wrapper">
                                  <div class="title-wrapper">
                                      <img src="assets/images/icons/ico/development.svg" alt="">
                                      <div>
                                          <span class="event-title">Development starts</span>
                                          <small>May 9th, 2018</small>
                                      </div>
                                  </div>
                                  <p>
                                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
                                  </p>
                              </div>
                          </li>

                          <!-- Event -->
                          <li data-date="30/06/2018">
                              <div class="inner-wrapper">
                                  <div class="title-wrapper">
                                      <img src="assets/images/icons/ico/community.svg" alt="">
                                      <div>
                                          <span class="event-title">Krypton Meetup CA</span>
                                          <small>June 30th, 2018</small>
                                      </div>
                                  </div>
                                  <p>
                                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
                                  </p>
                              </div>
                          </li>

                          <!-- Event -->
                          <li data-date="25/07/2018">
                              <div class="inner-wrapper">
                                  <div class="title-wrapper">
                                      <img src="assets/images/icons/ico/wallet.svg" alt="">
                                      <div>
                                          <span class="event-title">Krypton Wallet release</span>
                                          <small>July 25th, 2018</small>
                                      </div>
                                  </div>
                                  <p>
                                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
                                  </p>
                              </div>
                          </li>

                          <!-- Event -->
                          <li data-date="12/08/2018">
                              <div class="inner-wrapper">
                                  <div class="title-wrapper">
                                      <img src="assets/images/icons/ico/blockchain.svg" alt="">
                                      <div>
                                          <span class="event-title">Chain Alpha release</span>
                                          <small>Agust 12th, 2018</small>
                                      </div>
                                  </div>
                                  <p>
                                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
                                  </p>
                              </div>
                          </li>

                          <!-- Event -->
                          <li data-date="10/09/2018">
                              <div class="inner-wrapper">
                                  <div class="title-wrapper">
                                      <img src="assets/images/icons/ico/coins.svg" alt="">
                                      <div>
                                          <span class="event-title">Token Sale</span>
                                          <small>September 10th, 2018</small>
                                      </div>
                                  </div>
                                  <p>
                                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
                                  </p>
                              </div>
                          </li>

                          <!-- Event -->
                          <li data-date="15/10/2018">
                              <div class="inner-wrapper">
                                  <div class="title-wrapper">
                                      <img src="assets/images/icons/ico/security.svg" alt="">
                                      <div>
                                          <span class="event-title">Security Audit</span>
                                          <small>October 15th, 2018</small>
                                      </div>
                                  </div>
                                  <p>
                                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
                                  </p>
                              </div>
                          </li>

                          <!-- Event -->
                          <li data-date="25/11/2018">
                              <div class="inner-wrapper">
                                  <div class="title-wrapper">
                                      <img src="assets/images/icons/ico/blockchain.svg" alt="">
                                      <div>
                                          <span class="event-title">Chain Beta release</span>
                                          <small>November 25th, 2018</small>
                                      </div>
                                  </div>
                                  <p>
                                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
                                  </p>
                              </div>
                          </li>
                      </ol>
                  </div> <!-- .events-content -->
              </div>
              <!-- Timeline -->

          </div>
      </div>
      <!-- /Container -->
  </section>
  <!-- /Roadmap section -->
